@import "tailwindcss";


.timeline {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 5rem;
}

.cards {
	/*container that controls size of card*/
	position: relative;
	bottom: 3rem;
	grid-area: 1/1;
	display: grid;
	align-items: center;
}

.card {
	display: grid;
	grid-auto-flow: column;
	user-select: none;
	background-color: antiquewhite;
	color: grey;
	gap: 1rem;
	padding: 1rem;
	border: 0.5rem solid orange;
	height: 110%;
	border-radius: 5%;
	grid-area: stack;
	/*TODO: should be approximately the size of the timer*/
}

.card-block {
	width: fit-content;
}

.card-time {}

.card-event {}

.card-btns {
	height: 10rem;
	width: 10rem;
	display: flex;
}

.card-btn {
  margin: 1rem;
	background-color: brown;
	height: 2rem;
	width: 2rem;
	border-radius: 100%;
	z-index: 99;
}
